.heading
{

}

.heading__escape
{
    font-family: 'Lora';
    padding-top: 1%;
    margin: 0% 10% 0%;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1;
    color: #2E2E2E;
}

.heading-menu
{
    margin-top: -1.5%;
    padding-left: 60%;
    word-spacing: 40px;
}

.heading-menu__link
{
    text-decoration: none;
    color: #2E2E2E;
}

.heading-menu__link:hover
{
    color: #DD783F;
}

.logo
{

}

.logo__tittle
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.02;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.logo__subtittle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #2E2E2E;
    opacity: 0.63;
}

.logo-img
{
    
}

.paragraphs
{

}

.paragraphs__paragraph
{
    padding-left: 16.6%;
    padding-right: 16.6%;
    width: 960px;
    text-align: left;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.45;
}

.basement
{
    background: url("Pictures/Footer.png");
    max-width: 1440px;
    width: 100%;
    height: 89px;
    background-repeat: no-repeat;
}

.basement__escape
{
    position: absolute;
    font-family: 'Lora';
    padding-top: 1%;
    margin: 0% 10% 0%;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1;
    color: #FFFFFF;
}

.basement-menu 
{
    word-spacing: 20px;
}

.basement-menu__link 
{
    opacity: 0.6;
    text-decoration: none;
    color: white;
}

.basement-menu__link:hover 
{
    color: #DD783F;
}